<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <style>
        .mininav {
            font-size: 12.5px;
        }

        .aligncenter {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="container">



        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- navbar items -->

            </div>

            <div class="navbar-end">
                <!-- navbar items -->
                <a class="navbar-item mininav" href="help.html">
                    help
                </a>
                <a class="navbar-item mininav" href="Seller/index.html">
                    Seller
                </a>
                <a class="navbar-item mininav" href="signin.html">
                    Sign in
                </a>
                <a class="navbar-item mininav" href="register.html">
                    Register
                </a>
                <a class="navbar-item mininav" v-if="loginและregisterเรียบร้อยแล้ว">
                    <i class="fas fa-shopping-cart"></i>&nbsp;0
                </a>
                <a class="navbar-item mininav" v-if="loginและregisterเรียบร้อยแล้ว">
                    <i class="fas fa-user"></i>&nbsp;{{ user }}
                </a>
            </div>
        </div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <input class="input is-primary" type="text" placeholder="Search">
                &nbsp;
                <button class="button is-primary">Search</button>
                &nbsp;
                <div class="select">
                    <select>
                        <option>All categories</option>
                        <option>X</option>
                    </select>
                </div>
            </div>
        </nav>

        <div class="container is-max-desktop">
            <br><br>
            <div class="columns">
                <div class="column is-one-third">
                    <aside class="menu">
                        <p class="menu-label">
                            หน้าหลัก
                        </p>
                        <ul class="menu-list">
                            <li><a href="profile.html">หน้าหลัก</a></li>
                            <li><a href="changepass.html">แก้ไขรหัส</a></li>
                        </ul>
                        <p class="menu-label">
                            ประวัติ
                        </p>
                        <ul class="menu-list">
                            <li><a href="history.html">ประวัติการซื้อ</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-two-thirds notification is-primary is-light">
                    <div class="message-header">
                        <p>แก้ไขรหัสผ่าน</p>
                    </div>
                    <br>
                    <div class="column is-full">

                        <input class="input" type="text" placeholder="รหัสผ่านเก่า">
                        <br><br>
                        <input class="input" type="text" placeholder="ยืนยันรหัสผ่านเก่า">
                        <br><br>
                        <input class="input" type="text" placeholder="รหัสผ่านใหม่">
                        <br><br>
                        <button class="button is-warning">แก้ไขรหัสผ่าน</button>
                    </div>
                </div>
            </div>

        </div>

        <br>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>MarketPlace</strong>
            </p>
        </div>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>

</html>