<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mininav {
            font-size: 12.5px;
        }

        .aligncenter {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mySlides {
            display: none
        }

        .w3-left,
        .w3-right,
        .w3-badge {
            cursor: pointer
        }

        .w3-badge {
            height: 13px;
            width: 13px;
            padding: 0
        }

        .is-detail {
            color: black;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="navbar-menu">
            <div class="navbar-start">
                <!-- navbar items -->
                
            </div>

            <div class="navbar-end">
                <!-- navbar items -->
                <a class="navbar-item mininav" href="help.html">
                    help
                </a>
                <a class="navbar-item mininav" href="../index.html">
                    Buyer
                </a>
                <a class="navbar-item mininav" href="Admin/index.html">
                    Admin
                </a>
                <a class="navbar-item mininav" href="signin.html">
                    Sign in
                </a>
                <a class="navbar-item mininav" href="register.html">
                    Register
                </a>
                <a class="navbar-item mininav" v-if="loginและregisterเรียบร้อยแล้ว">
                    <i class="fas fa-shopping-cart"></i>&nbsp;0
                </a>
                <a class="navbar-item mininav" v-if="loginและregisterเรียบร้อยแล้ว">
                    <i class="fas fa-user"></i>&nbsp;ชื่อ
                </a>
            </div>
        </div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>


        </nav>



        <div class="container is-max-desktop">
            <br><br>
            <div class="columns">
                <div class="column is-one-third">
                    <aside class="menu">
                        <p class="menu-label">
                            หน้าหลัก
                        </p>
                        <ul class="menu-list">
                            <li><a href="index.html">หน้าหลัก</a></li>
                            <li><a href="rent.html">เช่าเปิดร้าน</a></li>
                            <li><a href="detail.html">กรอกข้อมูลร้านค้า</a></li>
                        </ul>
                        <p class="menu-label">
                            สินค้า
                        </p>
                        <ul class="menu-list">
                            <li><a href="add.html">เพิ่มสินค้า</a></li>
                            <li><a href="editanddelete.html">แก้ไข/ลบสินค้า</a></li>
                        </ul>
                    </aside>
                </div>

                <div class="column is-two-thirds notification is-primary is-light">
                    <div class="message-header">
                        <p>ข้อมูลร้านค้า</p>
                    </div>
                    <br>
                    <div class="columns">
                        <div class="column is-one-four">

                            <div class="card">
                                <header class="card-header">
                                    <p class="card-header-title">
                                        ชื่อร้าน xxxx
                                    </p>
                                </header>
                                <div class="card-image">
                                    <figure class="image is-2by2">
                                        <img src="https://bulma.io/images/placeholders/1280x960.png"
                                            alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                      <p><font size="2">เปิดร้านเมื่อ : xx/xx/xxxx</font></p>
                                      <p><font size="2">สถานะร้าน : เปิด/ปิด</font></p>
                                      <p><font size="2">จำนวนสินค้า : x</font></p>
                                      <p><font size="2">จำนวนคำสั่งซื้อ : x</font></p>
                                    </div>
                                  </div>
                            </div>

                        </div>

                        <div class="column is-three-fifths">

                            ชื่อร้าน<input class="input" type="text" placeholder="ชื่อร้าน">
                            รายละเอียดร้านค้า<textarea class="textarea" placeholder="รายละเอียดร้านค้า" rows="5"></textarea>
                            <hr>
                            <button class="button is-warning">บันทึก</button>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <br>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>MarketPlace</strong>
            </p>
        </div>
    </footer>

    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>

</html>